.projects_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_title_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
