.tabs_container {
  position: relative;
  top: -40px;
  margin-bottom: 100px;
  z-index: 5;
}

.tabs_container h2 {
  position: relative;
  top: 40px;
  color: #73e9df;
  text-align: end;
  font-size: 8rem;
  width: 100%;
  margin: 0;
}

.tabs_theme_con {
  -webkit-box-shadow: -5px 5px 15px -6px rgba(110, 110, 110, 1);
  -moz-box-shadow: -5px 5px 15px -6px rgba(110, 110, 110, 1);
  box-shadow: -5px 5px 15px -6px rgba(110, 110, 110, 1);
}
