.repos_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calender_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 75%;
}

.react-github-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github_link {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.repo_card_list_con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.repo_card_con {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 350px;
}

.repo_card {
  margin: 25px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.repo_card_content {
  flex: 1 0 auto;
}

.repo_card_title {
  top: 0;
  width: 100%;
}

.repo_footer {
  border-top: 1px solid rgb(204, 200, 200);
  background-color: rgb(245, 245, 245);
  position: static;
  flex-shrink: 0;
  padding: 10px;
}

.repo_link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: hsl(174, 82%, 48%);
}

.repo_link:hover {
  text-decoration: underline;
  color: hsl(174, 91%, 34%);
}

/* *********************************** 1100px */
@media (max-width: 1100px) {
  .calender_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 90%;
  }
}

/* *********************************** 800px */
@media (max-width: 800px) {
  .calender_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 100%;
  }
}

/* *********************************** 500px */
@media (max-width: 500px) {
  .calender_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 100%;
  }
}
